.footer {
  padding: 50px 0;
  .footer-top {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    .column {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .footer-bottom {
    border-top: 1px solid #d0d0d0;
    padding: 20px 0;

    .footer-bottom-content {
      display: flex;
      justify-content: space-between;
    }
  }
}
